{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<!-- About Us Section -->
<section class="bg-base-100 py-12">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold text-center mb-8">About Tails of Hope Blood Bank</h1>
    <div class="flex flex-col lg:flex-row lg:justify-between gap-8">
      <!-- Our Mission -->
      <div class="lg:w-1/2">
        <h2 class="text-3xl font-semibold mb-4">Our Mission</h2>
        <p class="text-lg mb-4">
          At LifeLine Blood Bank, our mission is to ensure that every patient in need of blood receives the best possible care. We are dedicated to maintaining a steady and reliable supply of safe blood for our community. Our goal is to save lives and support the health and well-being of individuals through regular blood donation drives and awareness campaigns.
        </p>
        <p class="text-lg mb-4">
          We believe in the power of community and collaboration. By working together with donors, volunteers, and healthcare professionals, we strive to make a positive impact on the lives of those who depend on blood donations.
        </p>
      </div>
      <!-- Our Values -->
      <div class="lg:w-1/2">
        <h2 class="text-3xl font-semibold mb-4">Our Values</h2>
        <ul class="list-disc list-inside text-lg space-y-2">
          <li><strong>Integrity:</strong> We uphold the highest standards of honesty and transparency in all our operations.</li>
          <li><strong>Compassion:</strong> We are committed to providing care and support to every pets who needs it.</li>
          <li><strong>Excellence:</strong> We strive for excellence in our services, ensuring the safety and quality of every blood donation.</li>
          <li><strong>Community:</strong> We believe in the strength of community and work to foster a spirit of collaboration and support.</li>
        </ul>
      </div>
    </div>
    <!-- Our Team -->
    <div class="mt-12">
      <h2 class="text-3xl font-semibold text-center mb-6">Meet Our Team</h2>
      <div class="flex flex-wrap gap-6 justify-center">
        <div class="card bg-base-200 shadow-md w-full sm:w-1/2 lg:w-1/4">
          <div class="card-body">
            <img src="https://scontent.ftrv1-1.fna.fbcdn.net/v/t1.6435-9/164687231_291620832333348_6770184124520504440_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=F_rzQWnY460Q7kNvgFlEDxO&_nc_zt=23&_nc_ht=scontent.ftrv1-1.fna&_nc_gid=AVYAVjkU132SNoWgecVd2qZ&oh=00_AYAUCi5HWvIyjukCT0EDLcSAcXskPETpJHK0gP0DeznHDg&oe=674CAF4C" alt="Team Member" class="w-24 h-24 rounded-full mx-auto mb-4">
            <h3 class="text-xl font-bold text-center mb-2">Haritha k h</h3>
          </div>
        </div>
        <div class="card bg-base-200 shadow-md w-full sm:w-1/2 lg:w-1/4">
          <div class="card-body">
            <img src="https://scontent.ftrv1-1.fna.fbcdn.net/v/t39.30808-6/449139868_452868974164107_7312906287548992641_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=mkvlYGzd4RwQ7kNvgELU3Do&_nc_zt=23&_nc_ht=scontent.ftrv1-1.fna&_nc_gid=AjkXExcoQJyKhMBLaNqP0oM&oh=00_AYC3FyZMx6y5853fz-Ayn6H-cwg-e0_vsOTSJDUQaPFCdA&oe=672B1CA9" alt="Team Member" class="w-24 h-24 rounded-full mx-auto mb-4">
            <h3 class="text-xl font-bold text-center mb-2">Malavika s</h3>
          </div>
        </div>
        <div class="card bg-base-200 shadow-md w-full sm:w-1/2 lg:w-1/4">
          <div class="card-body">
            <img src="https://img.indiaforums.com/person/480x360/1/0973-alia-bhatt.jpg?c=7tC4D4" alt="Team Member" class="w-24 h-24 rounded-full mx-auto mb-4">
            <h3 class="text-xl font-bold text-center mb-2">Fathima s</h3>
          </div>
        </div>
        <div class="card bg-base-200 shadow-md w-full sm:w-1/2 lg:w-1/4">
          <div class="card-body">
            <img src="https://i.pinimg.com/564x/75/27/26/7527268ae9ee480856905767dc9deddb.jpg" alt="Team Member" class="w-24 h-24 rounded-full mx-auto mb-4">
            <h3 class="text-xl font-bold text-center mb-2">Navya p kumar </h3>




















































































































































































































































              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
